/*   
    Container Login
**/

.container-login {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #3774c5 , #00a1d7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-login {
    height: 80vh;
    width: 25vw;
    min-height: 400px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.342);

    display: grid;
    grid-template-rows: 40% 60%;    
}
.logo-login {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-login img {
    margin-bottom: 10px;
}
.form-login {
    position: relative;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form-login div {
    font-size: 13px;
}
.form-login__input {
    padding: 7px;
    width: 80%;
    border: 1px solid var(--gray);
    border-radius: 4px;  
    font-size: 13px;
    color: #666;
    height: 40px;
}
.form-login__input:hover {
    border: 1px solid var(--gray10);
}
.form-login__input::placeholder {
    font-size: 13px;
    color: var(--secondary);
} 
.form-login__button {
    width: 80%;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    background-color: var(--primary);
    cursor: pointer;
    color: #fff;
}
.form-login__button:hover {
    background: var(--primaryHover)
}


.validation-error {
    border: 1px solid #dc3546fd;
}
.msg-error--email-password {
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 42px;
    width: 100%;
    color: var(--danger);
}

.msg-error--password {
    font-size: 13px;
    position: absolute;
    top: 140px;
    left: 34px;
    width: 100%;
    color: var(--danger);
}
.msg-error--email {
    font-size: 13px;
    position: absolute;
    top: 60px;
    left: 34px;
    width: 100%;
    color: var(--danger);
}

input:-internal-autofill-selected {
    background-color: hsl(0, 0%, 100%) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}