/*  
    Container Main
**/
.container-main {
    height: calc(100vh - 90px);

    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.section-int {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/*  
    utils
**/
.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title {
    width: 100%;
    /* text-align: center; */
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
}
.label {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #222;
    margin-right: 10px;
    width: 25px;
}

.button {
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.bg-primary {
    background-color: var(--primary);
}
.bg-teal {
    background-color: var(--teal);
}
.bg-success {
    background-color: var(--success);
}

.mg-top10 {
    margin-top: 10px;
}

.load, .container-load {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #fff;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.fadeOutLoad {
  animation: fadeOut 0.6s alternate forwards;
}

@keyframes fadeOut {
  from { opacity: 100;}
  to   { opacity: 0;}
}

@media (max-width: 1300px) {
    .container-main {
    height: auto;

    grid-template-columns: 40% 60%
    }
}
@media (max-width: 900px) {
    .container-main {
    grid-template-columns: 100%
    }
}