/*  
    Section center
**/
.section-center {
    margin: 10px 0;
}
.section-center__grid {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;

    display: grid;
    grid-template-rows: 14% 80% 1%;
}
.section-center__title {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.section-center__called {
    overflow: auto;
    max-height: 350px;
}
.table {
    margin: 0;
}
.table__th {
    font-size: 12px;
    font-weight: bold;
}
.table__tr {
    cursor: pointer;
}
.col-qtd {
    text-align: center;
}
.table__col-excluir img {
    height: 8px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.rodape-total {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

}
.section-center__label-total {
    margin-right: 5px;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
    grid-column-start: 2;
    justify-self: flex-end;
}
.despesaTotal {
    margin-left: 5px;
    font-size: 26px;
    font-weight: 400;
    color: var(--teal);

    align-self: center;
}

.section-center__called::-webkit-scrollbar-track {
    background-color: var(--gray);
}
.section-center__called::-webkit-scrollbar {
    border-radius: 3px;
    width: 8px;
}
.section-center__called::-webkit-scrollbar-thumb {
    background: #868e9679;
}